:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  contain: layout style;
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  z-index: 10;
  contain: layout style;
  will-change: transform;
}

.slider {
  margin: 0 1rem;
  width: calc(100% - 2rem);
  transform: translateY(-1rem);
  contain: layout;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
