@if (isBrowser) {
  <app-timeline-slider
    [coordinates]="coordinates"
    (sliderChange)="onSliderChange($event)"
    (cameraFollowChange)="cameraFollowChanged($event)"
    (sliderDragStart)="onSliderDragStart()"
    (sliderDragEnd)="onSliderDragEnd()">
  </app-timeline-slider>

  <section class="weather-container">
    <h2 class="visually-hidden">Conditions météorologiques</h2>
    <app-weather-display
      [weatherData]="weatherData"
      [timeOfDay]="getDayOrNight(currentCoordinate?.date || getNow())">
    </app-weather-display>

    <app-coordinate-info
      [coordinate]="currentCoordinate"
      [locationName]="weatherData?.name">
    </app-coordinate-info>
  </section>

  <div class="spacer" aria-hidden="true"></div>
  <app-weather-metrics
    [weatherData]="weatherData">
  </app-weather-metrics>
}
