<main class="page-struct">
  <section class="map">
  <app-map (photosClick)="photoSelected($event)" [photoHovered]="photoHovered" [selectedCoordinate]="selectedCoordinate" [cameraFollow]="cameraFollow"></app-map>
  </section>
  <section class="right-panel mat-body">
    <mat-tab-group class="tab-expand">
      <mat-tab label="Photos">
        <app-gallery [selectedPhoto]="selectedPhoto" (photoHover)="photoHover($event)"></app-gallery>
      </mat-tab>
      <mat-tab label="Suivit">
        <app-coordinate-folower (sliderChange)="coordinateSelected($event)" (cameraFollowChange)="cameraFollowChange($event)"></app-coordinate-folower>
      </mat-tab>
    </mat-tab-group>
  </section>
</main>
