:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  will-change: contents;
  contain: layout style;
}

.weather-icon {
  width: 25%;
  transform: scale(2);
}

.spacer {
  height: 2rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
