@if(isBrowser && coordinates.length > 0) {
  <div class="form-container">
  <mat-checkbox (change)="cameraFollowChanged($event)" [checked]="true" color="primary">Activer le suivit de la caméra
  </mat-checkbox>
  <mat-slider class="slider" min="0" [max]="coordinates.length-1" step="1" [displayWith]="formatLabel.bind(this)">
    <input matSliderThumb [(ngModel)]="selectedCoordinate" (valueChange)="onSliderChange($event)">
  </mat-slider>
  </div>
  <div class="weather-container">
    @if (weatherData) {
      <img class="weather-icon" [src]="'/assets/animated/' + weatherIconMap[weatherData.weather[0].id!] "
           alt="Weather icon">
    } @else {
      <img class="weather-icon" [src]="'/assets/animated/'+ getDayOrNight(coordinates[selectedCoordinate].date)+'.svg'"
           alt="Weather icon">
    }
    <div class="date-container">
      <h2 class="day-name">{{
          coordinates[selectedCoordinate].date.toLocaleDateString('fr-FR', {
            weekday: 'long',
            day: '2-digit',
            month: 'long',
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit'
          })
        }}</h2>
      <div class="ico-container">
        <mat-icon color="primary">satellite_alt</mat-icon>
        <span>&nbsp;lat: {{ coordinates[selectedCoordinate].latitude }}
          long:{{ coordinates[selectedCoordinate].longitude }}</span>
      </div>
      @if (weatherData) {
        <div class="ico-container">
          <mat-icon color="primary">location_on</mat-icon>
          <span>&nbsp;{{ weatherData.name }}</span>
        </div>
      }
    </div>
  </div>
  <div class="spacer"></div>
  @if (weatherData) {
    <div class="big-weather-metrics">
      <div class="metric-container">
        <mat-icon class="metric-icon" color="primary">thermostat</mat-icon>
        <span class="metric-value">{{ weatherData.main.temp }}°C</span>
      </div>
      <div class="metric-container">
        <mat-icon class="metric-icon" color="primary">opacity</mat-icon>
        <span class="metric-value">{{ weatherData.main.humidity }}%</span>
      </div>
    </div>
  }

  <div class="spacer"></div>
} @else {
  <div class="form-container">
    <mat-checkbox (change)="cameraFollowChanged($event)" [checked]="true" color="primary">Activer le suivit de la caméra
    </mat-checkbox>
    <mat-slider class="slider" min="0" max="0">
      <input matSliderThumb>
    </mat-slider>
  </div>
  <div class="weather-container">
    <img class="weather-icon" [src]="'/assets/animated/'+ getDayOrNight(getNow())+'.svg'"
         alt="Weather icon">
    <div class="date-container">
      <h2 class="day-name">{{
          getNow().toLocaleDateString('fr-FR', {
            weekday: 'long',
            day: '2-digit',
            month: 'long',
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit'
          })
        }}</h2>
      <div class="ico-container">
        <mat-icon color="primary">satellite_alt</mat-icon>
        <span>&nbsp;lat: --
          long: --</span>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="big-weather-metrics">
    <div class="metric-container">
      <mat-icon class="metric-icon" color="primary">thermostat</mat-icon>
      <span class="metric-value">--°C</span>
    </div>
    <div class="metric-container">
      <mat-icon class="metric-icon" color="primary">opacity</mat-icon>
      <span class="metric-value">--%</span>
    </div>
  </div>
  <div class="spacer"></div>
}
